@charset "utf-8";
/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }


@media only screen and (min-width: 320px) {
  html {
    font-size: 40px !important; } }
@media only screen and (min-width: 360px) {
  html {
    font-size: 45px !important; } }
@media only screen and (min-width: 375px) {
  html {
    font-size: 50px !important; } }
@media only screen and (min-width: 412px) {
  html {
    font-size: 55px !important; } }
@media only screen and (min-width: 414px) {
  html {
    font-size: 55px !important; } }
@media only screen and (min-width: 750px) {
  html {
    font-size: 90px !important; } }
@media only screen and (min-width: 768px) {
  html {
    font-size: 90px !important; } }
@media only screen and (min-width: 1024px) {
  html {
    font-size: 125px !important; } }
@media only screen and (min-width: 1280px) {
  html {
    font-size: 125px !important; 
    width:800px;
    margin:0 auto;} }
body{
  background: #000;
}
header{
  height:0.454545rem;
  width:100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  background: #2a2b30;
}
header span{
  height:100%;
  width:26.3%;
  display: inline-block;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.25rem;
  color:#ccc;
}
header img{
  height:80%;
}
.signal{
  height:47%;
}
header span:nth-child(3){
  height:100%;
  width:26.3%;
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.25rem;
}
header span:nth-child(3) img{
  height:86%;
  width:27%;
}
section{
  height:0.5572rem;
  width:100%;
  position: fixed;
  top:0.4545rem;
  left: 0;
  display: flex;
  color:#fff;
  font-size: 0.35rem;
  align-items: center;
  padding: 0 0 0 0.1818rem;
  background: #2a2b30;
}
section a{
  height:100%;
  width:10%;
  display: inline-block;
  display: flex;
  align-items: center;
}
section img{
  height:90%;
}
.banner{
  height:3.0909rem;
  width:100%;
  margin-top:1.00717rem;
}
.banner img{
  width:100%;
  height:100%;
}
ul{
  width:100%;
  height:1.7954rem;
  margin-top:0.1018rem;
  background: #2f3034;
  color:#9a9b9c;
}
ul li{
  display: flex;
  padding: 0 0.1818rem;
  justify-content: space-between;
  align-items: center;
}
ul li:nth-child(1){
  height:0.6663rem;
  width:100%;
  border-bottom: 1px solid #444;
  box-sizing: border-box;
}
ul li:nth-child(2){
  height:1.141rem;
  width:100%;
  box-sizing: border-box; 
}
ul li span{
  display: inline-block;
  height:100%;
  width:50%;
  font-size: 0.2rem;
  display: flex;
  align-items: center;
}
ul li span:nth-child(2){
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
ul li p{
  height:0.3636rem;
  width:1.0909rem;
  color:#9a9b9c;
  font-size: 0.2rem;
  border:1px solid #9a9b9c;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.2rem;
}
ol{
  height:6.1818rem;
  width:100%;
  margin-top:0.1818rem;
  background: #2f3034;
}
ol li{
  height:1.7363rem;
  width:100%;
  padding: 0 0.1818rem;
  font-size: 0.28rem;
  color:#9a9b9c;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-bottom:1px solid #444;
}
ol li:nth-child(1){
  height:1.122rem;
  width:100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
ol li b{
  display: inline-block;
  width:25%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
ol li p{
  width:50%;
  height:100%;
  display: flex;
  justify-content: flex-start;
}
ol li img{
  height:60%;
}
ol li:nth-child(2) span,
ol li:nth-child(3) span,
ol li:nth-child(4) span{
  height:100%;
  width:3.454554rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
ol li:nth-child(2) span a:nth-child(1),
ol li:nth-child(3) span a:nth-child(1),
ol li:nth-child(4) span a:nth-child(1){
  font-size:0.24rem;
}
ol li:nth-child(2) span a:nth-child(2),
ol li:nth-child(3) span a:nth-child(2),
ol li:nth-child(4) span a:nth-child(2){
  font-size: 0.23rem;
}
ol li:nth-child(2) span a:nth-child(3),
ol li:nth-child(3) span a:nth-child(3),
ol li:nth-child(4) span a:nth-child(3){
  font-size: 0.2rem;
}
.jion{
  width:25%;
  height:100%;
  padding: 0.2rem 0;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-sizing: border-box;
  font-size:0.2rem;
}
.bottom{
  height:1.03636rem;
  width:100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background:#2f3034;
  position: fixed;
  bottom: 0;
  left:0;
}
.bottom span{
  height:100%;
  width:1rem;
  color:#9a9b9c;
}
.bottom span img{
  width:50%;
}
.bottom span a{
    font-size: 0.28rem;
    color:#9a9b9c;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
}